
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">About Us</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Assets/img/prev.jpg" alt="" style="width:100%"/>
            </div>
            <div class="col-md-6 about-us-section" style="">
                <div class="section-title">
                    <h2 class="title">
                        About She He Store
                    </h2>
                </div>
                <h3>
                    Welcome to She He Store, your one-stop destination for all things electronic!
                </h3>
                <p style="font-size:20px;line-height:3rem;">
                    At She He Store, we believe in providing top-quality, cutting-edge technology to our customers, all while maintaining a commitment to exceptional customer service. With a passion for innovation and a dedication to meeting your needs, we strive to offer a curated selection of the latest and most reliable electronic products.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Why Choose She He Store?</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card product" style="">
                    <img class="card-img-top" src="~/Assets/img/icons8-laptop-100.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Curated Selection</h4>
                        <p class="card-text text-center" > We carefully select each product in our store to ensure that you receive only the best. From smartphones and laptops to smart home devices and accessories, every item in our inventory is chosen for its quality and performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card product" style="">
                    <img class="card-img-top" src="~/Assets/img/icons8-customer-support-100.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Customer-Centric Approach </h4>
                        <p class="card-text text-center">Your satisfaction is our priority. Our team is dedicated to providing excellent customer service, whether you have a question about a product or need assistance with an order. We're here to help!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card product" style="">
                    <img class="card-img-top" src="~/Assets/img/icons8-average-price-80.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Competitive Prices</h4>
                        <p class="card-text text-center">We believe that premium technology should be accessible to everyone. That's why we strive to offer competitive prices without compromising on quality.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card product" style="">
                    <img class="card-img-top" src="~/Assets/img/icons8-performance-100.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-center">Stay Ahead of the Curve</h4>
                        <p class="card-text text-center">Technology is constantly evolving, and we're here to help you stay ahead of the curve. We stay up-to-date with the latest trends and innovations to bring you the most cutting-edge products on the market.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

