@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section" id="section">
    <div class="conainter-fluid">
        <div class="row" style="margin:0;">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Contact Us</h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin:0;">
            <div class="col-md-6">
                <div class="contact-us-container" style="padding-top:5rem">
                    <h2 class="text-center">Contact Us Form</h2>
                    <div class="contact-us-section" style="display:flex;justify-content:center;">
                        <form style="width:80%">
                            <div class="form-group">
                                <label style="padding-bottom:1rem"></label>
                                <input class="input" placeholder="Email" required />
                            </div>
                            <div class="form-group">
                                <label style="padding-bottom:1rem"></label>
                                <input class="input" placeholder="First Name" required />
                            </div>
                            <div class="form-group">
                                <label style="padding-bottom:1rem"></label>
                                <input class="input" placeholder="Last Name" required />
                            </div>
                            <div class="form-group">
                                <label style="padding-bottom:1rem"></label>
                                <input class="input" placeholder="Phone Number" required />
                            </div>
                            <div class="form-group">
                                <label style="padding-bottom:1rem"></label>
                                <textarea class="input"  placeholder="Your Message" required ></textarea>
                            </div>
                            <div class="text-center w-100">
                                <button class="primary-btn "> Send </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Images/5124556.jpg" style="width:80%" />
            </div>
        </div>

    </div>
</div>

