<div>
    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Password Reset <i class="fa-regular fa-circle-xmark ms-3" id="close-backdrop"></i></div>
        <div class="card-body px-5">
            <form method="post" style="padding:0px;" asp-action="HandleNewPassword">
                <p class="card-text py-2">
                    Please Enter your new password ...
                </p>
                <div class="form-outline">
                    <label class="form-label" for="password">New Password</label>
                    <input type="password" name="password" id="password" class="form-control my-3" required />
                   
                </div>
                <button type="submit" class="btn btn-success w-100">Change Password</button>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="#">Login</a>
                    <a class="" href="#">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>